@charset "utf-8";

/* ******************** 공용 - 수정금지 ******************** */
.slider {position:relative; overflow:hidden; height:100%;}
.slider .sliderObj li a {display:block; width:100%; height:100%; border:0; cursor:default;}
.slider .sliderObj li img {display:none;}
.slider .sliderObj li {
	position:absolute; width:100%; height:100%; top:0;
	background-position:50%;
	background-repeat:no-repeat;
	background-size:cover;
}



/* ******************** 슬라이드 타입 ******************** */
/* 좌우 */
.slider .normal {}
.slider .normal li {left:100%;}
.slider .normal li:first-child {left:0;}

/* 상하 */
.slider .updown {}
.slider .updown li {left:0; top:100%;}
.slider .updown li:first-child {left:0; top:0;}

/* 패이드 인 아웃 */
.slider .fade {opacity:1 !important;}
.slider .fade li {
	left:0; opacity:0;
	transition:all 0.3s linear;
	-webkit-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
}
.slider .fade li:first-child {opacity:1; z-index:9;}



/* ******************** 버튼 타입 ******************** */
/* 버튼1 */
.slider .btnType1 {position:absolute; width:100%; top:50%;}
.slider .btnType1 a {
	position:absolute; display:block; width:60px; height:60px; margin-top:-30px; top:50%;
	cursor:pointer;	opacity:.5;
	background-repeat:no-repeat; background-position:50%; background-size:50%;
}
.slider .btnType1 a:hover {opacity:1}
.slider .btnType1 a.bPrev {left:20px; background-image:url(../images/slider/prev.png);}
.slider .btnType1 a.bNext {right:20px; background-image:url(../images/slider/next.png);}

/* 버튼2 */
.slider .btnType2 {position:absolute; width:100%; top:50%;}
.slider .btnType2 a {
	position:absolute; display:block; width:30px; height:30px; margin-top:-15px; top:50%;
	cursor:pointer; border-radius:5px;
	background-color:rgba(0,0,0,.2); background-repeat:no-repeat; background-position:50%;
	background-size:50%;
}
.slider .btnType2 a:hover {background-color:rgba(0,0,0,.5)}
.slider .btnType2 .bPrev {left:20px; background-image:url(../images/slider/prev_w.png);}
.slider .btnType2 .bNext {right:20px; background-image:url(../images/slider/next_w.png);}

/* 버튼3 */
.slider .btnType3 {position:absolute; width:100%; bottom:35px; left:-152px; z-index:9;}
.slider .btnType3 a {
	position:absolute; display:block; width:50px; height:50px; margin-top:-15px; top:50%;
	cursor:pointer; z-index:9;
	background-color:rgba(0,0,0,.5); background-repeat:no-repeat; background-position:50%;
}
.slider .btnType3 a:hover {background-color:rgba(0,0,0,.5)}
.slider .btnType3 .bPrev {left:0px; background-image:url(../images/slider/prev.png);}
.slider .btnType3 .bNext {left:102px; background-image:url(../images/slider/next.png);}



/* ******************** 페이지 타입 ******************** */
/* 페이지1 */
.slider .pageType1 {position:absolute; width:100%; bottom:40px; padding:0; text-align:center; z-index:99;}
.slider .pageType1>* {display:inline-block; vertical-align:middle; line-height:0; font-size:0;}
.slider .pageType1>div>a {
	display:inline-block; margin:7.5px; width:15px; height:15px;
	border-radius:50%; background:rgba(255,255,255,.3);
}
.slider .pageType1>div>a.on {background:rgba(255,255,255,1) !important;}
.slider .pageType1>div>a:hover {background:rgba(255,255,255,1);}
.slider .pageType1 .bState {	
	width:25px; height:25px; border-radius:50%;
	background-image:url(../images/slider/pause_w.png);
	background-color:rgba(0,0,0,.3); background-repeat:no-repeat; background-position:50%;
	background-size:50%;
}
.slider .pageType1 .bState.play {	
	background-image:url(../images/slider/play_w.png);
	background-color:rgba(0,0,0,.7);	
}

/* 페이지2 */
.slider .pageType2 {position:absolute; width:100%; bottom:10px; padding:0; text-align:center;}
.slider .pageType2>* {display:inline-block; vertical-align:middle; line-height:0; font-size:0;}
.slider .pageType2>div>a {
	display:inline-block; margin:5px; width:10px; height:10px; line-height:0; font-size:0;
	border-radius:50%; background:rgba(255,255,255,.5);
}
.slider .pageType2>div>a.on {background:rgba(255,255,255,1);}

.slider .pageType2 .bState {	
	width:23px; height:23px; border:1px solid #fff;
	background-image:url(../images/slider/pause.png);
	background-repeat:no-repeat; background-position:50%;
	background-size:50%; border-radius:50%;
	background-color:rgba(255,255,255,.5);
}
.slider .pageType2 .bState.play {	
	background-image:url(../images/slider/play.png);
	background-color:rgba(255,255,255,1);
}

/* 페이지3 */
.slider .pageType3 {position:absolute; width:100%; bottom:10px; padding:0; text-align:center;}
.slider .pageType3>* {display:inline-block; vertical-align:middle; line-height:0; font-size:0;}
.slider .pageType3>div>a {
	display:inline-block; margin:2px; width:23px; height:23px; line-height:1; font-size:11px; color:rgba(0,0,0,.5);
	background:rgba(255,255,255,.5);  border:1px solid #fff;
}
.slider .pageType3>div>a>span {display:inline-block; padding-top:5px; line-height:1;}
.slider .pageType3>div>a.on {color:rgba(0,0,0,1); font-weight:bold; background:rgba(255,255,255,1);}
.slider .pageType3 .bState {	
	width:23px; height:23px; border:1px solid #fff;
	background-image:url(../images/slider/pause.png);
	background-repeat:no-repeat; background-position:50%;
	background-size:50%;
	background-color:rgba(255,255,255,.5);
}
.slider .pageType3 .bState.play {	
	background-image:url(../images/slider/play.png);
	background-color:rgba(255,255,255,1);
}
