@charset "utf-8";

/* Common */
[class*="col-"] {float:left !important; position:relative; padding:0; margin:0; vertical-align:top; clear:none !important;}
.col-xs-12,.col-sm-12,.col-xs-md,.col-lg-12 {clear:both; float:none; width:100%;}

/* table <col class="col- "> 먹히게 하는 css */
table col[class*=col-] {position:static; display:table-column; float:none !important;} 

/* MOBILE : ~ 767*/
@media screen and (max-width:767px){
	.col-xs-1{width:8.33333333%;}
	.col-xs-2{width:16.66666667%;}
	.col-xs-3{width:25%;}
	.col-xs-4{width:33.33333333%;}
	.col-xs-5{width:41.66666667%;}
	.col-xs-6{width:50%;}
	.col-xs-7{width:58.33333333%;}
	.col-xs-8{width:66.66666667%;}
	.col-xs-9{width:75%;}
	.col-xs-10{width:83.33333333%;}
	.col-xs-11{width:91.66666667%;}
	.col-xs-12{width:100%;}
	.col-xs-hide {display:none;}
	.col-xs-show {display:block;}
	
	.col-xs-15 {width:20%;} /* 가로 5개 정렬 사용 시 */
	
	.hidden-xs {display:none;}
}

/* Tablet : 768~991 */
@media screen and (min-width:768px){
	.col-sm-1{width:8.33333333%;}
	.col-sm-2{width:16.66666667%;}
	.col-sm-3{width:25%;}
	.col-sm-4{width:33.33333333%;}
	.col-sm-5{width:41.66666667%;}
	.col-sm-6{width:50%;}
	.col-sm-7{width:58.33333333%;}
	.col-sm-8{width:66.66666667%;}
	.col-sm-9{width:75%;}
	.col-sm-10{width:83.33333333%;}
	.col-sm-11{width:91.66666667%;}
	.col-sm-12{width:100%;}
	.col-sm-hide {display:none;}
	.col-sm-show {display:block;}
	
	.col-sm-15 {width:20%;} /* 가로 5개 정렬 사용 시 */
}

/* PC over : 992 ~  */
@media screen and (min-width:992px), print{
	.col-md-1{width:8.33333333%;}
	.col-md-2{width:16.66666667%;}
	.col-md-3{width:25%;}
	.col-md-4{width:33.33333333%;}
	.col-md-5{width:41.66666667%;}
	.col-md-6{width:50%;}
	.col-md-7{width:58.33333333%;}
	.col-md-8{width:66.66666667%;}
	.col-md-9{width:75%;}
	.col-md-10{width:83.33333333%;}
	.col-md-11{width:91.66666667%;}
	.col-md-12{width:100%;}
	.col-md-hide {display:none;}
	.col-md-show {display:block;}
	
	.col-md-15 {width:20%;} /* 가로 5개 정렬 사용 시 */
}