
/*내용부분*/
.graph_contents{ border:3px solid #d9d9d9; height:645px;}

/*단위*/
.uint_positon{position:relative;}
.unit_01{color:#616161; position:absolute; left:-50px; top:0px; width:45px; text-align:right;}





/*내용부분2*/
.graph_contents2{width:99%; border:2px solid #d9d9d9; height:312px; }


table.graph_bar_01{ width:100%; background:url(/admin/img/stats/graph_bg.jpg) repeat-x 0px 1px; *background:url(/admin/img/stats/graph_bg.jpg) repeat-x -1px 0px; border-right:1px solid #eeeeee;border-left:1px solid #eeeeee;border-top:1px solid #666666; border-bottom:1px solid #666666;  }
table.graph_bar_01 td{  border:none; height:301px; vertical-align: bottom; width:1%;}
table.graph_bar_01 td .source_base{height:250px; position:relative; margin:0 auto;}
table.graph_bar_01 td .source_txt{ width:100%; height:16px; color:#b1b1b1; position:absolute;top:-15px; text-align:center; margin:0 0 0 -1px;}
table.graph_bar_01 td .source_bar{ width:100%; padding:0 0 0 1px; background:url(/admin/img/stats/graph_bar_01.jpg) repeat-y center 0px;position:absolute; bottom:0px;  }

table.graph_bar_01 .label_01{ width:100%; padding:9px 0 2px 0; font-size:11px; line-height:14px; font-weight:normal;  vertical-align:top; background:url(/admin/img/stats/graph_th_bg.jpg) no-repeat 0px 0px;word-break:break-all; word-wrap:break-word; }
table.graph_bar_01 .label_01{ /*min-height:40px;max-height:98px;*/ text-align:center; line-height:17px; height:20px; overflow:hidden; }





table.graph_bar_02{ width:100%; background:url(/admin/img/stats/graph_bg.jpg) repeat-x 0px 1px; *background:url(/admin/img/stats/graph_bg.jpg) repeat-x -1px 0px; border-right:1px solid #eeeeee;border-left:1px solid #eeeeee;border-top:1px solid #666666; border-bottom:1px solid #666666;  }
table.graph_bar_02 td{  border:none; height:301px; vertical-align: bottom; width:1%;}
table.graph_bar_02 td .source_base{height:250px; position:relative; margin:0 auto;}
table.graph_bar_02 td .source_txt{ width:100%; height:16px; color:#b1b1b1; position:absolute;top:-15px; text-align:center; margin:0 0 0 -1px;}
table.graph_bar_02 td .source_bar{ width:100%; padding:0 0 0 1px; background:url(/admin/img/stats/graph_bar_01.jpg) repeat-y center 0px;position:absolute; bottom:0px;  }

table.graph_bar_02 .label_01{ width:100%; padding:9px 0 2px 0; font-size:11px; line-height:14px; font-weight:normal;  vertical-align:top; background:url(/admin/img/stats/graph_th_bg.jpg) no-repeat 0px 0px; background:#0099CC;word-break:break-all; word-wrap:break-word; }
table.graph_bar_02 .label_01{ /*min-height:40px;max-height:98px;*/ text-align:center; line-height:17px; height:20px; overflow:hidden; }

